<p id="notice"><%= notice %></p>

<h1>All searchers</h1>

<table class="table table-striped table-dark wmaincol">
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Profession</th>
    <th>Schedule</th>
    <th>Country</th>
    <th>City</th>
    <th>Wanted payment</th>
    <th>Valuta</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @searchers.each do |searcher| %>
    <tr>
      <td class="wmaincol"><%= searcher.name %></td>
      <td class="wmaincol"><%= searcher.surname %></td>
      <td class="wmaincol"><%= Worklist.find(searcher.profession).woname %></td>
      <td class="wmaincol"><%= Timework.find(searcher.wtime).wotime %></td>
      <td class="wmaincol"><%= Country.find(searcher.country_id).coname %></td>
      <td class="wmaincol"><%= City.find(searcher.city_id).ciname %></td>
      <td class="wmaincol"><%= searcher.payment %></td>
      <td class="wmaincol"><%= searcher.valuta %></td>
      <td class="wmaincol"><%= link_to 'Show', searcher %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', root_path, class:"wmaincol"%>