<p id="notice"><%= notice %></p>

<h1>Works</h1>
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th>Strukt</th>
    <th>Company</th>
    <th>Country</th>
    <th>City</th>
    <th>Searched profession</th>
    <th>Experience</th>
    <th>Payment</th>
    <th>Valuta</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @works.each do |work| %>
      <tr>
        <td><%= work.strukt %></td>
        <td><%= work.company %></td>
        <td><%= Country.find(work.countryid).coname %></td>
        <td><%= City.find(work.cityid).ciname %></td>
        <td><%= Worklist.find(work.profession).woname %></td>
        <td><%= Experience.find(work.experience).exname %></td>
        <td><%= work.payment %></td>
        <td><%= work.valuta %></td>
        <td><%= link_to 'Show', work %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Back',  root_path%>