
<script type="text/javascript">
    $(document).ready(function(){

        //Check if the current URL contains '#'
        if(document.URL.indexOf("#")==-1)
        {
            // Set the URL to whatever it was plus "#".
            url = document.URL+"#";
            location = "#";

            //Reload the page
            location.reload(true);

        }
    });
</script>
<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Structure" %>
    <%= form.text_field :strukt %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.collection_select :profession, Worklist.order(:woname), :id, :woname%>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.collection_select :experience, Experience.order(:id), :id, :exname %>
  </div>

  <div class="field">
    <%= form.label "Schedule" %>
    <%= form.collection_select :wtime, Timework.order(:id), :id, :wotime %>
  </div>

  <div class="field">
    <%= form.label :needs %>
    <%= form.text_area :needs %>
  </div>

  <div class="field">
    <%= form.label "Information about your company" %>
    <%= form.text_area :cominfo %>
  </div>

  <div class="field">
    <%= form.label "Country" %>
    <%= form.collection_select :countryid, Country.order(:id), :id, :coname %>
  </div>

  <div class="field">
    <%= form.label "City" %>
    <%= form.grouped_collection_select :cityid, Country.order(:coname), :cities, :coname, :id, :ciname %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.number_field :payment %>
  </div>

  <div class="field">
    <%= form.label :valuta %>
    <%= form.text_field :valuta %>
  </div>

  <div class="field">
    <%= form.hidden_field :userid, value: current_user.id, :readonly => true %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: "btn-empty-green success btn-lg" %>
  </div>
<% end %>
