
<body class="workback">
<div class="form-group backcol">


<table class="table table-striped table-bordered table-dark wmaincol">
  <tr>
    <th>Structure</th>
    <td class="wmaincol"><%= @work.strukt %></td>
  </tr>

  <tr>
    <th>Company</th>
    <td class="wmaincol"><%= @work.company %></td>
  </tr>

  <tr>
    <th>Name</th>
    <td class="wmaincol"><%= @work.name %></td>
  </tr>

  <tr>
    <th>Surname</th>
    <td class="wmaincol"><%= @work.surname %></td>
  </tr>

  <tr>
    <th>Email</th>
    <td class="wmaincol"><%= @work.email %></td>
  </tr>

  <tr>
    <th>Phone</th>
    <td class="wmaincol"><%= @work.phone %></td>
  </tr>

  <tr>
    <th>Profession</th>
    <td class="wmaincol"><%= @result_worklist %></td>
  </tr>

  <tr>
    <th>Experience</th>
    <td class="wmaincol"><%= @result_ex %></td>
  </tr>

  <tr>
    <th>Schedule</th>
    <td class="wmaincol"><%= @result_timework %></td>
  </tr>

  <tr>
    <th>Needs</th>
    <td class="wmaincol"><%= @work.needs %></td>
  </tr>

  <tr>
    <th>Company information</th>
    <td class="wmaincol"><%= @work.cominfo %></td>
  </tr>

  <tr>
    <th>Country</th>
    <td class="wmaincol"><%= @result_co %></td>
  </tr>

  <tr>
    <th>City</th>
    <td class="wmaincol"><%= @result_ci %></td>
  </tr>

  <tr>
    <th>Street</th>
    <td class="wmaincol"><%= @work.street %></td>
  </tr>

  <tr>
    <th>House</th>
    <td class="wmaincol"><%= @work.house %></td>
  </tr>

  <tr>
    <th>Payment</th>
    <td class="wmaincol"><%= @work.payment %></td>
  </tr>

  <tr>
    <th>Valuta</th>
    <td class="wmaincol"><%= @result_val %></td>
  </tr>

</table>

  <% if current_user.id == @work.userid %>
    <h class="wmaincol">Activity: <%= @work.activ %></h> <br>
  <% end %>
  <br>
  <%= link_to t(:Back), request.referrer, class:"wmaincol"%>
</div>
</body>
