<p id="notice"><%= notice %></p>

<p>
  <strong>Strukt:</strong>
  <%= @work.strukt %>
</p>

<p>
  <strong>Company:</strong>
  <%= @work.company %>
</p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @work.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @work.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @work.phone %>
</p>

<p>
  <strong>Needs:</strong>
  <%= @work.needs %>
</p>

<p>
  <strong>Company information:</strong>
  <%= @work.cominfo %>
</p>

<p>
  <strong>Country:</strong>
  <%= @result_co %>
</p>

<p>
  <strong>City:</strong>
  <%= @result_ci%>
</p>

<p>
  <strong>Metro:</strong>
  <%= @result_me %>
</p>

<p>
  <strong>Street:</strong>
  <%= @work.street %>
</p>
<p>
  <strong>House:</strong>
  <%= @work.house %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @work.payment %>
</p>

<p>
  <strong>Valuta:</strong>
  <%= @work.valuta %>
</p>
<% if current_user && current_user.typeof && current_user.id == @work.userid %>
  <%= link_to 'Edit', edit_work_path(@work) %> |
<% end %>
<%= link_to t(:Back), request.referrer%>
