<h1>Welcome <%= current_user.email %></h1>
<% if current_user && current_user.typeof %>
  <%= button_to 'New Work', new_work_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %> <br/>
  <%= button_to 'Show your works',  works_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %> <br/>
  <%= button_to 'Search worker by specifics',  worker_search_input_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %><br/>
<% elsif current_user && !current_user.typeof %>
  <%= button_to 'New Searcher', new_searcher_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %> <br/>
  <%= button_to 'Show your Job vacancys',  searchers_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %> <br/>
  <%= button_to 'Search job by specifics',  work_search_input_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %><br/>
<% end %>
<%= button_to 'Show all searches', allsearches_output_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %><br/>
<%= button_to 'Show all works',  allworks_output_path, :method => "get", class: "btn-empty btn-outline-dark btn-lg btn-block" %><br/>


