<script type="text/javascript">
    $(document).ready(function(){
        //Check if the current URL contains '#'
        if(document.URL.indexOf("#")==-1)
        {
            // Set the URL to whatever it was plus "#".
            url = document.URL+"#";
            location = "#";
            //Reload the page
            location.reload(true);
        }
    });
</script>

<%= form_with(model: searcher, local: true) do |form| %>
  <% if searcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(searcher.errors.count, "error") %> prohibited this searcher from being saved:</h2>

      <ul>
        <% searcher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.collection_select :profession, Worklist.order(:woname), :id, :woname %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.collection_select :experience, Experience.order(:id), :id, :exname %>
  </div>

  <div class="field">
    <%= form.label :skills %>
    <%= form.text_area :skills %>
  </div>

  <div class="field">
    <%= form.label "Schedule" %>
    <%= form.collection_select :wtime, Timework.order(:id), :id, :wotime %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.order(:id), :id, :coname %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.grouped_collection_select :city_id, Country.order(:coname), :cities, :coname, :id, :ciname %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.number_field :payment %>
  </div>

  <div class="field">
    <%= form.label :valuta %>
    <%= form.text_field :valuta %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id, :readonly => true %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: "btn-empty-green success btn-lg" %>
  </div>
<% end %>
