<p id="notice"><%= notice %></p>

<h1>Searchers</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Profession</th>
      <th>Experience</th>
      <th>Scedule</th>
      <th>Country</th>
      <th>City</th>
      <th>Payment</th>
      <th>Valuta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @searchers.each do |searcher| %>
      <% if current_user.id == searcher.user_id %>
        <tr>
          <td><%= searcher.name %></td>
          <td><%= searcher.surname %></td>
          <td><%= Worklist.find(searcher.profession).woname %></td>
          <td><%= Experience.find(searcher.experience).exname %></td>
          <td><%= Timework.find(searcher.wtime).wotime  %></td>
          <td><%= Country.find(searcher.country_id).coname %></td>
          <td><%= City.find(searcher.city_id).ciname %></td>
          <td><%= searcher.payment %></td>
          <td><%= searcher.valuta %></td>
          <td><%= link_to 'Show', searcher %></td>
          <td><%= link_to 'Edit', edit_searcher_path(searcher) %></td>
          <td><%= link_to 'Destroy', searcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Searcher', new_searcher_path %> <br>
<%= link_to 'Back',  root_path%>