<body class="workback">
<div class="form-group backcol">

  <table class="table table-striped table-bordered table-dark wmaincol">
    <tr>
      <th>Name</th>
      <td><%= @searcher.name %></td>
    </tr>

    <tr>
      <th>Surname</th>
      <td><%= @searcher.surname %></td>
    </tr>

    <tr>
      <th>Phone</th>
      <td><%= @searcher.phone %></td>
    </tr>

    <tr>
      <th>Profession</th>
      <td><%= @result_worklist %></td>
    </tr>

    <tr>
      <th>Skills</th>
      <td><%= @searcher.skills %></td>
    </tr>

    <tr>
      <th>Experience</th>
      <td><%= @result_ex %></td>
    </tr>

    <tr>
      <th>Profession</th>
      <td><%= @result_worklist %></td>
    </tr>

    <tr>
      <th>Experience</th>
      <td><%= @result_ex %></td>
    </tr>

    <tr>
      <th>Schedule</th>
      <td><%= @result_timework %></td>
    </tr>

    <tr>
      <th>Country</th>
      <td><%= @result_co %></td>
    </tr>

    <tr>
      <th>City</th>
      <td><%= @result_ci %></td>
    </tr>

    <tr>
      <th>Wanted ayment</th>
      <td><%= @searcher.payment %></td>
    </tr>

    <tr>
      <th>Valuta</th>
      <td><%= @result_val %></td>
    </tr>

  </table>
  <% if current_user.id == @searcher.user_id %>
    <h>Activity: <%= @searcher.activ %></h> <br>
  <% end %>
  <br>
  <%= link_to t(:Back), request.referrer%>
</div>
</div>
</body>
